:root {
  --background-color-light: #141d2f;
  --background-color-dark: #f6f8ff;
  --text-color-light: #4b6a9b;
  --text-color-dark: ;
  --text-color-black: #060606;
  --text-color-white: #faf8f8;
  --input-black: #1e2a47;
  --input-search-color: #ffffff;
  --light-info: #4b6a9b;
  --dark-info: #b3b1b1;
}
.search-bg {
  background-color: var(--input-search-color);
}
.light-theme {
  background-color: var(--background-color-dark);
}
.dark-theme {
  background-color: var(--background-color-light);
}
.black-theme {
  color: var(--text-color-black);
}
.white-theme {
  color: var(--text-color-white);
}
.input-black {
  background-color: var(--input-black);
}
.light-info {
  color: var(--light-info);
}
.dark-info {
  color: var(--dark-info);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Space Mono", monospace;
  background-color: #141d2f;
  height: 100vh;
}
.search-container {
  width: 327px;
  height: 565px;
  /* background-color: #1e2a47; */
  border-radius: 14px;
}
.input-txt {
  width: 327px;
  height: 60px;
  /* background-color: #1e2a47; */
  border: none;
  border-radius: 14px;
}
.input-txt::placeholder {
  padding-left: 55px;
  color: #b3b1b1;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.input-group {
  position: relative;
  display: inline-block;
}
.search-icon {
  position: absolute;
  margin-top: -43px;
  margin-left: 20px;
}

.search-btn {
  position: absolute;
  width: 84px;
  height: 46px;
  background-color: #0079ff;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 17px;
  margin-left: 235px;
  margin-top: -53px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 15px;
}
.header-group {
  display: flex;
  gap: 120px;
}
.contrast-dark {
  display: flex;
}
.light {
  font-size: 13px;
  font-weight: 700;
  line-height: 39px;
  color: #fff;
  margin-top: -10px;
}
.light-moon {
  font-size: 13px;
  font-weight: 700;
  line-height: 39px;
  color: #4b6a9b;
  margin-top: -10px;
}
.sun-light,
.moon-light {
  margin-bottom: 30px;
  cursor: pointer;
}
.them {
  display: flex;
  gap: 13px;
  background-color: transparent;
  border: none;
}
.contrast-light {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.header-txt {
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;

  margin-top: -15px;
}
.github-information {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  width: 100%;
  margin-left: -20px;
}
.user-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: -2px;
}

.github-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  /* color: #fff; */
  margin-left: -50px;
}
.github-username {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #0079ff;
  margin-left: -50px;
}
.joined {
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  /* color: #fff; */
  margin-left: -50px;
}
.bio {
  display: flex;
  margin-top: 14px;
  padding-left: 18px;
  /* color: #b3b1b1; */
}
.repo-follower {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
  margin-left: 23px;
  width: 279px;
  height: 85px;
  /* background-color: #141d2f; */
  border-radius: 14px;
  padding-top: 5px;
  color: #b3b1b1;
}
.repo,
.follower,
.following {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
  margin-left: 22px;
}
.twitter-user,
.company-user,
.github-user {
  padding-left: 15px;
  /* color: #b3b1b1; */
}
.location-user {
  padding-left: 20px;
  /* color: #fff; */
}
.profile-icon {
  width: 117px;
  height: 117px;
  border-radius: 130px;
}
